//============
//COLORS
//============

//Mainly for button colors
$primary-color: #2b78e4;
$danger-color: #e06666;
$super-danger-color: #ff1a1a;
$success-color: #93c47d;

//Mainly for Background and font colors
$dark-orange-color: #e69138;
$light-orange-color: #f6b26b;
$white-color: #faf4f4;
$dark-grey-color: #333333;


//============
//MARGINS & PADDINGS
//============

